// :root {
//   --red: #e30002;
// }

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  background: rgb(241, 241, 241);
}
body {
  margin: 0;
}

a {
  cursor: pointer;
  color: var(--el-color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--el-color-primary-dark-2);
}

img {
  object-fit: contain;
}

html,
body,
#__nuxt {
  height: 100%;
}

#app {
  // position: relative;
  min-height: 100%;

  // > .page {
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;

  //   margin: 0 auto;
  //   padding: 20px;
  // }
}

// element UI
body {
  .el-popper {
    // font-size: 16px;
    // line-height: normal;
    // max-width: calc(100% - 10px);
  }
}

// PC端 横屏
// @media (orientation: landscape) and (min-width: 980px) {
//   #app {
//     > .page {
//       max-width: 61.8%;
//     }
//   }
// }
