.mp-markdown-box {
  width: 100%;
  word-break: break-word;
  mp-mi {
    display: flex;
    flex-direction: column;
    position: relative;

    > div {
      color: #000;
    }
    > span {
      color: #f1f1f1;
    }

    > div,
    > span {
      width: 100%;
      padding: 16px;
      background-color: white;
      border-radius: 20px;
      font-size: 16px;
      line-height: 24px;
    }
    > input {
      width: 100%;
      padding: 0 16px;
      height: 56px;
      border-radius: 20px;
      outline: 0;
      border: 0;
      font-size: 20px;
      margin: 10px 0;
    }
    > a {
      position: absolute;
      right: 16px;
      bottom: 20px;
      display: inline-flex;
      align-items: center;
      height: 36px;
      background-color: rgb(29, 155, 240);
      color: white;
      margin-left: 16px;
      padding: 0 16px;
      border-radius: 20px;

      &:hover {
        background-color: rgb(23, 124, 192);
      }
    }
  }
}

.mp-markdown-editor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  // 默认隐藏
  opacity: 0;
  pointer-events: none;

  .close {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 20px;
    z-index: 1;
    font-size: 32px;
    color: #909399;
  }

  .preview {
    width: 100%;
    height: 38.2%;
    padding: 0 20px 60px;
    overflow-y: auto;
  }

  .editor {
    width: 100%;
    height: 61.8%;
    background: #1e1e1e;
  }

  &.show-edit {
    opacity: 1;
    pointer-events: auto;
  }
}

// PC端 横屏
@media (orientation: landscape) and (min-width: 980px) {
  .mp-markdown-editor {
    flex-direction: row;
    .preview {
      width: 38.2%;
      height: 100%;
    }

    .editor {
      width: 61.8%;
      height: 100%;
    }
  }
}
